@mixin font-face($family, $path: '', $weight) {
    @font-face {
        font-family: $family;
        src: url($path + '.woff2') format('woff2'), url($path + '.woff') format('woff');
        font-weight: $weight;
        font-style: normal;
        font-display: swap;
    }
}
