@import '../../scss/mixins';

.apollo-image {
    position: relative;

    &_hidden {
        display: none;
    }

    &__skeleton, &__loader, & &__skeleton, & &__loader {
        @include skeleton-bar();
        width: 100%;
        min-height: 100%;
    }

    & & {
        &__button {
            &_expand {
                @include useExpandButton();
            }

            &_photo {
                @include usePhotoButton();
            }

            &_photo:not(&.apollo-image .apollo-image__button_on-hover) {
                opacity: 0;
                transition: 0.3s;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}
