@use '../../variables/colors';

$green-brand: colors.$color-green-6;
$green-brand-dark: colors.$color-green-7;
$green-brand-light: colors.$color-green-4;

/** Green brand */
:root[data-brand='green'] {
    --apollo-brand: #{$green-brand};
    --apollo-brand-dark: #{$green-brand-dark};
    --apollo-brand-light: #{$green-brand-light};
}
