@import '../../scss';

.apollo-panel {
    padding: 20px;
    border-radius: $base-border-radius;
    background-color: var(--apollo-background-color-secondary);
    box-shadow: $base-box-shadow;
    width: 100%;
    transition: 0.3s;

    @include media($mobile-breakpoint) {
        padding: 15px;
    }

    & & {
        &_clickable {
            cursor: pointer;

            &:hover {
                background-color: var(--apollo-background-color-primary);
            }
        }

    }
}