@use '../variables/colors';
@use '../mixins/functions';

// Text
$apollo-color-font-primary: colors.$color-grey-1;
$apollo-color-font-secondary: colors.$color-grey-4;
$apollo-color-font-tertiary: colors.$color-grey-6;
$apollo-color-font-disabled: colors.$color-grey-7;
$apollo-color-font-alternative: colors.$color-black;
$apollo-color-font-link: colors.$color-blue-5;
$apollo-color-font-link-hover: colors.$color-blue-4;

// Background
$apollo-color-background-primary: colors.$color-grey-10;
$apollo-color-background-secondary: colors.$color-grey-8;
$apollo-color-background-tertiary: colors.$color-grey-9;
$apollo-color-background-disabled: colors.$color-grey-9;
$apollo-color-background-alternative: colors.$color-grey-4;

// Icon
$apollo-color-icon-primary: colors.$color-grey-1;
$apollo-color-icon-secondary: colors.$color-grey-4;
$apollo-color-icon-tertiary: colors.$color-grey-6;
$apollo-color-icon-alternative: colors.$color-black;

// Border
$apollo-color-border-primary: colors.$color-grey-9;
$apollo-color-border-secondary: colors.$color-grey-8;
$apollo-color-border-tertiary: colors.$color-grey-7;

// Divider
$apollo-color-divider-primary: colors.$color-grey-8;
$apollo-color-divider-secondary: colors.$color-grey-7;

// Status
$apollo-color-status-positive-primary: colors.$color-green-5;
$apollo-color-status-positive-secondary: colors.$color-green-6;
$apollo-color-status-negative-primary: colors.$color-red-5;
$apollo-color-status-negative-secondary: colors.$color-red-6;

// Elevation
$apollo-color-elevation-primary: functions.changeColorOpacity(colors.$color-grey-1, .20);

// Overlay
$apollo-color-overlay-primary: functions.changeColorOpacity(colors.$color-grey-1, .80);

// Skeleton
$apollo-color-skeleton-primary: #{colors.$color-grey-8};
$apollo-color-skeleton-secondary: #{colors.$color-grey-9};

/** Dark Theme */
:root[data-theme='dark'] {
    /** Text */
    --apollo-color-font-primary: #{$apollo-color-font-primary};
    --apollo-color-font-secondary: #{$apollo-color-font-secondary};
    --apollo-color-font-tertiary: #{$apollo-color-font-tertiary};
    --apollo-color-font-disabled: #{$apollo-color-font-disabled};
    --apollo-color-font-alternative: #{$apollo-color-font-alternative};
    --apollo-color-font-link: #{$apollo-color-font-link};
    --apollo-color-font-link-hover: #{$apollo-color-font-link-hover};

    /** Background */
    --apollo-color-background-primary: #{$apollo-color-background-primary};
    --apollo-color-background-secondary: #{$apollo-color-background-secondary};
    --apollo-color-background-tertiary: #{$apollo-color-background-tertiary};
    --apollo-color-background-disabled: #{$apollo-color-background-disabled};
    --apollo-color-background-alternative: #{$apollo-color-background-alternative};

    /** Icon */
    --apollo-color-icon-primary: #{$apollo-color-icon-primary};
    --apollo-color-icon-secondary: #{$apollo-color-icon-secondary};
    --apollo-color-icon-tertiary: #{$apollo-color-icon-tertiary};
    --apollo-color-icon-alternative: #{$apollo-color-icon-alternative};

    /** Border */
    --apollo-color-border-primary: #{$apollo-color-border-primary};
    --apollo-color-border-secondary: #{$apollo-color-border-secondary};
    --apollo-color-border-tertiary: #{$apollo-color-border-tertiary};

    /** Divider */
    --apollo-color-divider-primary: #{$apollo-color-divider-primary};
    --apollo-color-divider-secondary: #{$apollo-color-divider-secondary};

    /** Status */
    --apollo-color-status-positive-primary: #{$apollo-color-status-positive-primary};
    --apollo-color-status-positive-secondary: #{$apollo-color-status-positive-secondary};
    --apollo-color-status-negative-primary: #{$apollo-color-status-negative-primary};
    --apollo-color-status-negative-secondary: #{$apollo-color-status-negative-secondary};

    /** Elevation */
    --apollo-color-elevation-primary: #{$apollo-color-elevation-primary};

    /** Overlay */
    --apollo-color-overlay-primary: #{$apollo-color-overlay-primary};

    /** Skeleton */
    --apollo-color-skeleton-primary: #{$apollo-color-skeleton-primary};
    --apollo-color-skeleton-skeleton: #{$apollo-color-skeleton-secondary};
}
