@use '../variables/colors';
@use '../mixins/functions';

// Text
$apollo-color-font-primary: colors.$color-grey-10;
$apollo-color-font-secondary: colors.$color-grey-7;
$apollo-color-font-tertiary: colors.$color-grey-5;
$apollo-color-font-disabled: colors.$color-grey-4;
$apollo-color-font-alternative: colors.$color-white;
$apollo-color-font-link: colors.$color-blue-5;
$apollo-color-font-link-hover: colors.$color-blue-7;

// Background
$apollo-color-background-primary: colors.$color-grey-1;
$apollo-color-background-secondary: colors.$color-white;
$apollo-color-background-tertiary: colors.$color-grey-3;
$apollo-color-background-disabled: colors.$color-grey-2;
$apollo-color-background-alternative: colors.$color-grey-7;

// Icon
$apollo-color-icon-primary: colors.$color-grey-10;
$apollo-color-icon-secondary: colors.$color-grey-7;
$apollo-color-icon-tertiary: colors.$color-grey-5;
$apollo-color-icon-alternative: colors.$color-white;

// Border
$apollo-color-border-primary: colors.$color-grey-4;
$apollo-color-border-secondary: colors.$color-grey-3;
$apollo-color-border-tertiary: colors.$color-grey-2;

// Divider
$apollo-color-divider-primary: colors.$color-grey-3;
$apollo-color-divider-secondary: colors.$color-grey-2;

// Status
$apollo-color-status-positive: colors.$color-green-5;
$apollo-color-status-positive-dark: colors.$color-green-6;
$apollo-color-status-positive-light: colors.$color-green-4;

$apollo-color-status-negative: colors.$color-red-6;
$apollo-color-status-negative-dark: colors.$color-red-7;
$apollo-color-status-negative-light: colors.$color-red-4;

$apollo-color-status-warning: colors.$color-yellow-5;
$apollo-color-status-warning-dark: colors.$color-yellow-6;
$apollo-color-status-warning-light: colors.$color-yellow-4;

// Shadow
$apollo-color-shadow-primary: functions.changeColorOpacity(colors.$color-grey-10, .20);

// Overlay
$apollo-color-overlay-primary: functions.changeColorOpacity(colors.$color-grey-10, .80);

// Skeleton
$apollo-color-skeleton-primary: #{colors.$color-grey-2};
$apollo-color-skeleton-secondary: #{colors.$color-grey-1};

/** Light Theme (default) */
:root, :root[data-theme='light'] {
    /** Text */
    --apollo-color-font-primary: #{$apollo-color-font-primary};
    --apollo-color-font-secondary: #{$apollo-color-font-secondary};
    --apollo-color-font-tertiary: #{$apollo-color-font-tertiary};
    --apollo-color-font-disabled: #{$apollo-color-font-disabled};
    --apollo-color-font-alternative: #{$apollo-color-font-alternative};
    --apollo-color-font-link: #{$apollo-color-font-link};
    --apollo-color-font-link-hover: #{$apollo-color-font-link-hover};

    /** Background */
    --apollo-color-background-primary: #{$apollo-color-background-primary};
    --apollo-color-background-secondary: #{$apollo-color-background-secondary};
    --apollo-color-background-tertiary: #{$apollo-color-background-tertiary};
    --apollo-color-background-disabled: #{$apollo-color-background-disabled};
    --apollo-color-background--alternative: #{$apollo-color-background-alternative};

    /** Icon */
    --apollo-color-icon-primary: #{$apollo-color-icon-primary};
    --apollo-color-icon-secondary: #{$apollo-color-icon-secondary};
    --apollo-color-icon-tertiary: #{$apollo-color-icon-tertiary};
    --apollo-color-icon-alternative: #{$apollo-color-icon-alternative};

    /** Border */
    --apollo-color-border-primary: #{$apollo-color-border-primary};
    --apollo-color-border-secondary: #{$apollo-color-border-secondary};
    --apollo-color-border-tertiary: #{$apollo-color-border-tertiary};

    /** Divider */
    --apollo-color-divider-primary: #{$apollo-color-divider-primary};
    --apollo-color-divider-secondary: #{$apollo-color-divider-secondary};

    /** Status */
    --apollo-color-status-positive: #{$apollo-color-status-positive};
    --apollo-color-status-positive-dark: #{$apollo-color-status-positive-dark};
    --apollo-color-status-positive-light: #{$apollo-color-status-positive-light};

    --apollo-color-status-negative: #{$apollo-color-status-negative};
    --apollo-color-status-negative-dark: #{$apollo-color-status-negative-dark};
    --apollo-color-status-negative-light: #{$apollo-color-status-negative-light};

    --apollo-color-status-warning: #{$apollo-color-status-warning};
    --apollo-color-status-warning-dark: #{$apollo-color-status-warning-dark};
    --apollo-color-status-warning-light: #{$apollo-color-status-warning-light};

    /** Shadow */
    --apollo-color-shadow-primary: #{$apollo-color-shadow-primary};

    /** Overlay */
    --apollo-color-overlay-primary: #{$apollo-color-overlay-primary};

    /** Skeleton */
    --apollo-color-skeleton-primary: #{$apollo-color-skeleton-primary};
    --apollo-color-skeleton-secondary: #{$apollo-color-skeleton-secondary};
}
