/** Keyframes */
@keyframes skeleton-animation {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

@keyframes loaderSpinner {
    to {
        transform: rotate(360deg);
    }
}
