$fs-xs: 14;
$fs-s: 16;
$fs-m: 18;
$fs-l: 24;
$fs-xl: 30;
$fs-xxl: 36;

$fs-h1: 'h1';
$fs-h2: 'h2';
$fs-h3: 'h3';
$fs-h4: 'h4';
$fs-h5: 'h5';
$fs-body: 'body';
$fs-button: 'button';
$fs-label: 'label';
$fs-helper: 'helper';
$fs-negative: 'negative';
$fs-positive: 'positive';
$fs-warning: 'warning';
$fs-progress: 'progress';
$fs-link: 'link';

$font-sizes: ((14, 20), (16, 24), (18, 24), (24, 32), (30, 48));

$font-styles: (
    h1: (600, var(--apollo-color-font-primary), 5),
    h2: (600, var(--apollo-color-font-primary), 4),
    h3: (600, var(--apollo-color-font-primary), 3),
    h4: (600, var(--apollo-color-font-primary), 2),
    h5: (600, var(--apollo-color-font-primary), 1),
    body: (400, var(--apollo-color-font-primary), 3),
    button: (400, var(--apollo-color-font-primary), 3),
    label: (400, var(--apollo-color-font-secondary), 2),
    helper: (400, var(--apollo-color-font-tertiary), 3),
    positive: (400, var(--apollo-color-status-positive), 2),
    negative: (400, var(--apollo-color-status-negative), 2),
    warning: (400, var(--apollo-color-status-warning), 2),
    link: (400, var(--apollo-color-font-link), 3),
);
